@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="MainController">
    @Html.Partial("~/Views/Home/_Home.cshtml")
    @Html.Partial("~/Views/Home/_de.cshtml")
    @Html.Partial("~/Views/Home/_toggle.cshtml")
</div>